.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

*.generated.swift

.swiftpm
prepare-swiftui-color.artifactbundle
prepare-swiftui-color.artifactbundle.zip
